/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/images/medicinePhotos
/.idea
/public/images/pharmacyPhotos
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
